/*Background*/

/*Button*/
.btn {
    background-color: #D9B08C;
    color: rgb(146, 111, 80);
    border-color: rgb(146, 111, 80);
}
/*Login Status*/
.loginStatus {
    background-color: #2C3531;
    padding: 8px;
    margin: 0px;
}
/*Input Box*/
.loginInput {
    display: inline-block;
    background-color: #D1E8E2;
    width: 55%;
    max-width: 300px;
}

.postInput {
    display: inline-block;
    background-color: #D1E8E2;
    font-size: small;
    width: 75%;
    max-width: 500px;
}

.buttonRow {
    display: block;
}

.container {
}

.postBack {
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #D9B08C;
}

.postUser {
    color: black;
    text-align: start;
}
.postMessage {
    margin-left: 15px;
    margin-bottom: 0px;
    text-align: start;
    color: black;
}
.postMessageGreen {
    margin-left: 15px;
    margin-bottom: 0px;
    text-align: start;
    color: green;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.deleteButton {
    padding: 0px 6px
}